body{
background-image: url("fondo.jpg");
}

.carousel img{
object-fit: cover;
max-height: 400px;


}
div.formulario{
border: tomato;
background-color: wheat;

}
div.forma{
margin-bottom: 10px;
margin-top: 10px;

}
.card{
margin-top: 10px;

}